body {
 background-color: #F3F6FF;
 margin-right: 20px;
 padding-right: 160px;
 margin-left: 20px;
 padding-left: 160px;
}

@font-face {font-family: "Manuscrite"; src: url("arabella.ttf") format("truetype"); }


h1 {font-weight: normal; color: #EFDD98; font-family: "Manuscrite"; font-size: 80; padding-top: 50px;}
h2 {font-weight: normal; color: #EFDD98; font-family: "Manuscrite"; font-size: 50; 
    text-decoration: none;
	margin-block-start: 20px;
    margin-block-end: 10px;
    }
h3 {font-weight: normal; color: #EFDD98; font: script; font-size: 20;}

p, div, li {color: black; font: Times New Roman; font-size: 14}

nav {list-style-type:none;}


.Séparateur {
  margin-top: -35px; margin-bottom: 40px;
}


.Texte_courant {color: black; font: Times New Roman; font-size: 15}

.Texte_bio {color: black; font: Times New Roman; font-size: 15; columns: 2}

.copyright {color: black; font: Times New Roman; font-size: 10}

.SourcesTitre {color: #EFDD98; font-family: Manuscrite; font-size: 35; 
		margin-bottom: -0.5px}
.Sources {color: grey; font-family: script; font-size: 12;}

.Recherche {top: 2px; width: 230px;}


#Chapitre {display: flex; flex-wrap: wrap; align-content: stretch;
          margin-left: auto;
          margin-right: auto;
          width: 650px;}

#Chapitre ul a {font-weight: normal; color: #7795B9; font: script; font-size: 17px;}
#Chapitre div {width: 210px}

#SChap1 a {font-weight: normal; color: #7795B9; font: script; font-size: 17px;}
#SChap2 a {font-weight: normal; color: #7795B9; font: script; font-size: 17px;}
#SChap3 a {font-weight: normal; color: #7795B9; font: script; font-size: 17px;}
#SChap4 a {font-weight: normal; color: #7795B9; font: script; font-size: 17px;}
#SChap5 a {font-weight: normal; color: #7795B9; font: script; font-size: 17px;}
#SChap6 a {font-weight: normal; color: #7795B9; font: script; font-size: 17px;}


a {text-decoration: none;}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
}


/*Menu dépliant*/
.boutonmenuaccueil {
background-color: #828FB6;
font-family: "Manuscrite";
color: white;
border: none;
cursor: pointer;
padding: 20px;
margin-right: 2px;
font-size: 30px;
}


.boutonmenurecueil {
background-color: #828FB6;
font-family: "Manuscrite";
font-weight: 10;
color: white;
border: none;
cursor: pointer;
padding: 20px;
margin-left: 0px;
font-size: 30px;
}

.boutonmenurecueil:hover {
background-color: #828FB6;
}

.boutonmenubio {
background-color: #828FB6;
font-family: "Manuscrite";
font-weight: 10;
color: white;
border: none;
cursor: pointer;
padding: 20px;
margin-left: 0px;
font-size: 30px;
}

.boutonmenubio:hover {
background-color: #828FB6;
}

.boutonmenuprojet {
background-color: #828FB6;
font-family: "Manuscrite";
font-weight: 10;
color: white;
border: none;
cursor: pointer;
padding: 20px;
margin-left: 0px;
font-size: 30px;
}

.boutonmenuprojet:hover {
background-color: #828FB6;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-child {
display: none;
background-color: #828FB6;
min-width: 50px;
position: absolute;
}

.dropdown-child a {
color: white;
padding: 20px;
text-decoration: none;
display: block;
list-style-type: none;
}

.dropdown:hover .dropdown-child {
display: block;
}
